*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}






/* HEADER */
header{
    height: 70px;
    width: 100%;
    background-color: white;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 30;
    top: 0;
    left: 0;
}

header div{
    padding: 10px;
}

.inizia{
    background-color: blue;
    color: white;
}

/* MAIN */
main{
    margin-top: 70px;
}

.main-header{
    background-color: #b4d0e7;
    padding-top: 40px;
}

.testo{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

main h1{
    font-family: 'Oswald', sans-serif;
    font-size: 70px;
    width: 50%;
    justify-content: center;
}

/* FOOTER */
footer{

}